<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spproject.xdclass.mapper.VideoOrderListMapper">

    <select id="listOrderByUserId" resultType="VideoOrder">
        select * from video_order where user_id =#{user_id} order by create_time desc
    </select>

</mapper>